<div>
  <section class='col-xs-3'>
      {{ui-nav-list
        items='Foo,Bar,Baz'
        selected=selected
        size=size
        mood=mood
        skin=skin
        gaps=gaps
        ends=ends
        position=position
        onChange=(action 'onChange')
      }}
  </section>

  <section class='col-xs-4'>
    The template would look like:
<code class='language-handlebars'><pre>\{{ui-nav-list
  items='Foo,Bar,Baz'
  selected=selected
  size=size
  mood='{{mood}}'
  skin='{{skin}}'
  gaps={{gaps}}
  ends={{ends}}
  position=position
  onChange=(action 'onChange')
}}</pre></code>
    <p>
      Try modifying the parameters interactively to understand better what the options look like:
    </p>
    <class class="row downer">
      <span class="title">
        position:
      </span>
      <span class="control">
        {{radio-buttons buttons='left,right,top,bottom' value=position size='small' onChange=(mut position)}}
      </span>
    </class>
    <span class="row">
      <span class="title">
        skin:
      </span>
      <span class="control">
        {{radio-buttons buttons='nav,tab,flat,plus' value=skin size='small' onChange=(mut skin)}}
      </span>
    </span>
    <span class="row">
      <span class="title">
        size:
      </span>
      <span class="control">
        {{radio-buttons buttons='tiny,small,default,large,huge' value=size size='small' onChange=(mut size)}}
      </span>
    </span>
    <span class="row">
      <span class="title">
        mood:
      </span>
      <span class="control">
        {{radio-buttons buttons='default,success,info,warn::warning,error' value=mood size='small' onChange=(mut mood)}}
      </span>
    </span>
    <span class="row">
      <span class="title">
        gaps:
      </span>
      <span class="control">
        {{ui-slider
          ticks='0,35'
          min=0
          max=35
          step=1
          immediateResponse=true
          value=gaps
          ticksSnapBounds=2
          ticksLabels='None,35px'
        }}
      </span>
    </span>
    <span class="row">
      <span class="title">
        ends:
      </span>
      <span class="control">
        {{ui-slider
          ticks='0,35'
          min=0
          max=35
          step=1
          value=ends
          immediateResponse=true
          ticksSnapBounds=2
          ticksLabels='None,35px'
        }}
      </span>
    </span>
  </section>

  <section class='col-xs-5'>
    When we consider styling there are several properties which will make a distinct
    impresson the visual appearance of the navigational menu:
    <p>
      <br/>
    </p>
    <ul>
      <li>skin - changes the theme/skin used or allows self-skinning</li>
      <li>mood - gives the stylistic mood of the menu</li>
      <li>size - what is says on the tin</li>
      <li>gaps - padding between nav options</li>
      <li>ends - padding at both end of list (note <i>start</i> and <i>stop</i> can be set individually)</li>
    </ul>
    <p>
      In addition you can use CSS styles such as:
    </p>
    <ul>
      <li>width - use % or absolute pixel values</li>
      <li>height</li>
      <li>font</li>
    </ul>
    <p>
      This simple examples the minimal amount of templating that is needed to get a navigation menu up and running. Continue onto the <i>styling</i> section to understand the major cosmetic changes you can make.
    </p>

  </section>
</div>
