{{#if hasBlock}}
  {{yield this}}
{{else}}
  {{#if hasLeftPane}}
    {{#ui-pane
      name='left'
      item=this
      vertical='center'
      class=(if-then-else hasSubHeading 'has-sub-heading')
      as |pane|
    }}
      {{#if iconLeft}}
        {{ui-icon-aspect value=iconLeft pane=pane}}
      {{/if}}
      {{#if imageLeft}}<div class="aspect image">{{ui-image src=imageLeft borderMask='circle'}}</div>{{/if}}
      {{#if titleLeft}}<div class="aspect handle">
        <span class="title">{{{titleLeft}}}</span>
      </div>{{/if}}
    {{/ui-pane}}
  {{/if}}

  {{#ui-pane name='center' item=this orient='vertical' horizontal='left' as |pane|}}
    {{#if title}}
      {{ui-title-aspect title=title pane=pane}}
    {{/if}}
    {{#if subHeading}}
      {{ui-sub-heading-aspect value=subHeading pane=pane}}
    {{/if}}
  {{/ui-pane}}

  {{#if hasRightPane}}
    {{#ui-pane name='right' item=this as |pane|}}
      {{#if badgeRight}}
        <span class="aspect badge" data-tooltip={{_badgeTooltip}} data-position={{_badgeTooltipPosition}}>
          {{badgeRight}}
        </span>
      {{/if}}
      {{#if titleRight}}<span class='aspect title'>{{title}}</span>{{/if}}
      {{#if titleRight}}<span class="divider"> | </span>{{/if}}
      {{#if subHeadingRight}}{{ui-sub-heading-aspect value=subHeading pane=pane}}{{/if}}
      {{#if iconRight}}
        <div class="aspect icon">
          {{ui-icon iconRight class="icon-right" fw=false}}
        </div>
      {{/if}}
      {{#if handleRight}}<div class="aspect handle">{{ui-aspect-handle value=handleRight onMouseDown="mouseDown" onTouchStart="touchStart"}}</div>{{/if}}
    {{/ui-pane}}
  {{/if}} {{!-- end right pane --}}
{{/if}}