{{#if hasBlock}}
  {{yield this}}
{{else}}
  {{#if (gt ends 0)}}
    <div class="ui-end start" style="flex-basis: {{ends}}px"></div>
  {{/if}}
  {{#each _items as |item index|}}
    {{#if (gt index 0)}}
      {{#if (gt gaps 0)}}
        <div class="ui-gap" style="flex-basis: {{gaps}}px"></div>
      {{/if}}
    {{/if}}
    {{component itemType
        list=this
        data=item
        map=mappedProperties
        tabindex=tabindex
        defaultValues=defaultValues
        size=size
        style=style
        mood=mood
        index=index
    }}
  {{/each}}
  {{#if (gt ends 0)}}
    <div class="ui-end stop" style="flex-basis: {{ends}}px"></div>
  {{/if}}
{{/if}}
