<div class="description">
  Page {{page}} of {{pages}}<span class="sort-column">{{sortedByMessage}}</span>
</div>
<div class="controls">
  {{ui-icon icon='chevron-left' class=pageDownNav action='pageDown' }}
  {{ui-icon icon='chevron-right' class=pageUpNav action='pageUp' }}
</div>
{{yield}}
