{{#if hasBlock}}
  {{yield}}
{{else}}
  <span class="ascending {{if ascendingSelected 'selected'}}" {{action 'changeSort' 'ascending'}}>
    {{ui-icon icon='angle-up' circular=true}}
  </span>
  <span class="decending {{if descendingSelected 'selected'}}" {{action 'changeSort' 'descending'}}>
    {{ui-icon icon='angle-down' circular=true}}
  </span>
{{/if}}
