{{#if hasBlock}}
  {{yield}}
{{else}}
  {{#each columns as |column|}}
    {{#if column.hidden}}{{else}}
      <span class="column-heading h-{{column.horizontal}} {{column.id}}">
          <span class="name">{{column.name}}</span>
          {{#if column.isSortable}}
            <span class="sort">
              {{ui-sort-control list=this.list column=column}}
            </span>
          {{/if}}
          {{#if column.isFilterable}}
            <span class="filter">
              {{ui-filter-control list=this.list column=column}}
            </span>
          {{/if}}
      </span>
    {{/if}}
  {{/each}}
{{/if}}
