{{#demo-css}}
<h3>Component::<code>ui-sortable-list</code></h3>

<h4>Overview</h4>
<div class="row">
    <desc>
        A sortable list derives from <code>ui-list</code> but adds the ability to manually sort items via a drag and drop interface. When a re-sort takes place the <code>onReindex</code> action is sent up the container with the newly sorted array.
    </desc>
</div>
{{! ------------------------------------------------------------------------------------------------------------------------- }}
<h4>Interactive Demo</h4>
<row>
  <widget class="wide">
    {{ui-sortable-list
      items=items
      filter=listFilter
      map=map
      size=size
      mood=mood
      skin=skin
      compressed=compressed
      squeezed=squeezed
      sort=sortBy
      sortAscending=sortAscending
      onChange='update'
    }}
  </widget>
  <code>
    {{display-component componentName='ui-sortable-list'
      items=':items'
      filter=listFilter
      map=':map'
      size=size
      mood=mood
      skin=skin
      compressed=compressed
      squeezed=squeezed
      sort=sortBy
      sortAscending=sortAscending
      onChange='update'
    }}
  </code>
  <description>

  </description>
</row>


<configuration class="downer">
    <icon>{{icon-cog size="2x"}}</icon>
    <config>
        <columns>
            <column>
                List Size: <br/>
                {{ui-buttons cardinality='1:1' buttons='tiny,small,default,large,huge' value=size size='small' defaultValue='default'}}<br/>
                Vertically Compressed: {{ui-toggle-button value=compressed on='compressed' off='normal' size='small'}}<br/>
                Horizontally Squeezed: {{ui-toggle-button value=squeezed on='squeezed' off='normal' size='small'}}<br/>
                Filter: {{ui-toggle-button value=isFiltered on='Only where Badge exists' off='No Filter' defaultValue=false size='small'}}
            </column>
            <column>
                Mood: <br/>
                {{ui-buttons cardinality='1:1' buttons='static,sillyLogic' value=moodStrategy size='small' stretch=true}}<br/>
                {{#if enableStaticChooser}}
                Static Moods:<br/>
                  {{ui-buttons cardinality='1:1' buttons='default,success,info,warning,error' value=mood disable=disableStaticChooser size='small' defaultValue='default'}}
                {{/if}}
             </column>
            <column>
                Skin / skin Family:<br/>
                {{ui-buttons cardinality='1:1' buttons='default,plus,flat,simple' value=skin size='small' stretch=true}}<br/>
                Sort By:
                {{ui-toggle-button value=sortAscending toggleEffect='tada' onIcon='chevron-down' offIcon='chevron-up' on='' off=''}}<br/>
                {{ui-buttons cardinality='1:1' buttons=sortOrders selected=sortBy size='small' stretch=true}}<br/>
            </column>
        </columns>
    </config>
</configuration>
{{/demo-css}}