{{#demo-css}}
<h3>Component::<code>ui-sortable-list</code></h3>

<h4>Overview</h4>
<div class="row">
    <desc>
        A sortable list derives from <prop>ui-list</prop> but adds the ability to manually sort items via a drag and drop interface. It should be noted that this functionality -- in particular the two mixins that this component uses -- are heavily leaning on the the great work from Jamie White and his <a href="https://github.com/jgwhite/ember-sortable">ember-sortable</a> addon.
    </desc>
</div>
{{! ------------------------------------------------------------------------------------------------------------------------- }}
<h4>Interactive Demo</h4>
<row>
  <widget class="wide">
    {{ui-sortable-list
      items=items
      filter=listFilter
      map=map
      size=size
      mood=mood
      skin=skin
      compressed=compressed
      squeezed=squeezed
      sort=sortBy
      sortAscending=sortAscending
      onChange='onUpdate'
      onClick='onClick'
    }}
  </widget>
  <code>
    {{display-component componentName='ui-sortable-list'
      items=':items'
      filter=listFilter
      map=':map'
      size=size
      mood=mood
      skin=skin
      compressed=compressed
      squeezed=squeezed
      sort=sortBy
      sortAscending=sortAscending
      onChange='onUpdate'
      onClick='onClick'
    }}
  </code>
  <description>
    <h5>CSS Properties</h5>
    <p>
      All of the CSS properties which are involved in sortable lists can be found in the source file:<br/>
    </p>
    <prop class='center'>vendor/ui-list/ui-list-sorting.css</prop><br/>
    <p>
      For instance, a popular selector to override is <css>.sortable-item.is-dragging</css> which sets the background color amoungst other things.
    </p>
  </description>
</row>

<configuration class="downer">
    <icon>{{icon-cog size="2x"}}</icon>
    <config>
        <columns>
            <column>
                List Size: <br/>
                {{ui-buttons cardinality='1:1' buttons='tiny,small,default,large,huge' value=size size='small' defaultValue='default'}}<br/>
                Vertically Compressed: {{ui-toggle-button value=compressed on='compressed' off='normal' size='small'}}<br/>
            </column>
            <column>
                Mood:<br/>
                  {{ui-buttons cardinality='1:1' buttons='default,success,info,warning,error' value=mood disable=disableStaticChooser size='small' defaultValue='default'}}
             </column>
            <column>
                Skin / skin Family:<br/>
                {{ui-buttons cardinality='1:1' buttons='default,plus,flat,simple' value=skin size='small'}}
            </column>
        </columns>
    </config>
</configuration>
{{/demo-css}}