<h3>Component::<code>ui-item</code></h3>

<h4>Overview</h4>
<div class="row">
    <desc>
        The <code>ui-item</code> is the default list item. Like any item it responds to common/shared principles of:
        <ul>
          <li>Layout and property definition of <code>aspects</code> and <code>panes</code></li>
          <li>The relative <code>size</code> of each item</li>
          <li>The <code>style</code> family it belongs to</li>
        </ul>
        
        This control does not have:
        <ul>
          <li>
            This being the most basic item-type it only responds with click action type (aka, no fancy slide out actions or other visual effects for
            these items). Check out 'actionable items' for that.             
          </li>
        </ul>
    </desc>
</div>

<h4>Basic Example</h4>

<examples>
    <widget>
        {{ui-item icon='envelope' title='Went Running' badge=4}}
    </widget>
    <sourcecode>
        {{#code-block language="handlebars"}}
\{{ui-item icon='envelope' title='Went Running' badge=4}}
        {{/code-block}}         
    </sourcecode>
</examples>

<desc>
    There are few things to note in the basic example above. 
    <ul>
        <li>
            First off the use of <code>icon</code> property is really just an alias to the <code>iconLeft</code> property. The alias is setup this 
            because its the left-pane which is most likely to have an icon in it (at least one that is dynamic).
        </li>
        <li>
            Similarly the <code>title</code> property is assumed to refer to the <code>titleCenter</code> property. 
        </li>
        <li>
            The <code>badge</code> property is assumed to be in the right-pane but can be placed anywhere if you use an explicit reference like <code>badgeCenter</code>. 
        </li>
    </ul>
</desc>

<h4>Dynamic Example: Size, Skin, and Mood</h4>
{{! ----------------------------------------------------------- }}
<examples>
    <widget class="wide">
        {{ui-item 
					icon=toggledIcon 
					foo='Went Running' 
					mapTitle='foo' 
					bar=toggledSubHeading 
					mapSubHeading="bar"
					badge=toggledBadge 
					size=size 
					disabled=isDisabled 
					style=style 
					mood=mood
				}}
    </widget>
    <sourcecode>
        {{#code-block language="handlebars" poll=150}}
\{{ui-item {{#if toggledIcon}}icon='{{toggledIcon}}'{{/if}}
    foo='Went Running' {{#if toggledSubHeading}}
    mapTitle='foo'
    bar='{{toggledSubHeading}}'
    mapSubHeading='bar' {{/if}}
    {{#if toggledBadge}}badge={{toggledBadge}}
    {{/if}}style='{{style}}'
}}
        {{/code-block}}         
    </sourcecode>
</examples>
{{! ----------------------------------------------------------- }}
<configuration>
    <icon>{{icon-cog size="2x"}}</icon>
    <config>
        <columns>
            <column>
                Item Size: <br/>
                {{ui-button-radio choices='tiny,small,default,large,huge' selected=size size='small' defaultValue='default'}}<br/>
                Mood: <br/>
                {{ui-button-radio choices='default,success,info,warning,error' selected=mood size='small' defaultValue='default'}}<br/>
            </column>
            <column>
                <div class="row">
                    Toggles<br/>                  
                    <div class="col-xs-6">
                        {{ui-toggle-button value=showSubHeading size='small'}} - SUB HEAD
                        <p>&nbsp;</p>                      
                        {{ui-toggle-button value=isDisabled size='small'}} - DISABLED <br/>
                    </div>
                    <div class="col-xs-6">
                        {{ui-toggle-button value=showBadge size='small'}} - BADGE   <br/>
                        <p>&nbsp;</p>                      
                        {{ui-toggle-button value=showIcon size='small'}} - ICON<br/>
                    </div>
                </div>
            </column>
            <column>
                Skin / Style Family:<br/>        
                {{ui-button-radio choices='default,plus,flat' selected=style size='small' stretch=true}}<br/>
            </column>
        </columns>
    </config>
</configuration>

<desc>
    Things to note:
    <ul>
        <li>there is a CSS property <code>two-lined-message</code> which is turned on when text elements fill two line items (e.g., both 'title' and 'sub-heading' are set); this allows the size of the left most icon to be adjusted based on this property</li>
        <li>left padding is increased for center pane if there is no content in the left-pane, this leverages the <code>with-left</code> and <code>no-left</code> CSS properties</li>
        <li>you can use either <code>style</code> or <code>skin</code> properties for setting the skin/style family as they are aliased to the same root</li>
    </ul>
</desc>