<h3>Component::<code>ui-selectable-list</code></h3>

<h4>Overview</h4>
<div class="row">
    <desc>
        A selectable list is much like a normal <code>ui-list</code> but when the <b>paneAction</b> event fires it "selects" the item visually. It then fires the <b>selected</b> event.
    </desc>
</div>
{{! ------------------------------------------------------------------------------------------------------------------------- }}
<h4>Example</h4>

<div class="col-xs-9 col-sm-4">
  {{ui-selectable-list
    items=items
    filter=listFilter
    map=map
    size=size
    mood=mood
    style=style
    defaultIcon=defaultIcon
    compressed=compressed
    squeezed=squeezed
    sort=sortBy
    sortAscending=sortAscending
  }}
</div>
<br/>
<div class="col-xs-3 col-sm-8">
  \{{ui-selectable-list<br/>
    &nbsp;&nbsp;&nbsp;&nbsp; items=items<br/>
    &nbsp;&nbsp;&nbsp;&nbsp; map=map<br/>
    &nbsp;&nbsp;&nbsp;&nbsp; {{#if enableStaticChooser}}mood='{{mood}}'{{else}}mood=sillyLogic{{/if}}<br/>
    &nbsp;&nbsp;&nbsp;&nbsp; size="{{size}}"<br/>
    &nbsp;&nbsp;&nbsp;&nbsp; style="{{style}}"{{#if compressed}}<br/>
    &nbsp;&nbsp;&nbsp;&nbsp; compressed=true{{/if}}{{#if squeezed}}<br/>
    &nbsp;&nbsp;&nbsp;&nbsp; squeezed=true{{/if}}{{#if sortBy}}<br/>
    &nbsp;&nbsp;&nbsp;&nbsp; sort="{{sortBy}}" {{else}}<br/>
    {{/if}}<br/>
  }}
</div>


{{! ------------------------------------------------------------------------------------------------------------------------- }}
<p class="downer">&nbsp;</p>

<configuration class="downer">
    <icon>{{icon-cog size="2x"}}</icon>
    <config>
        <columns>
            <column>
                List Size: <br/>
                {{ui-buttons cardinality='1:1' buttons='tiny,small,default,large,huge' value=size size='small' defaultValue='default'}}<br/>
                Vertically Compressed: {{ui-toggle-button value=compressed on='compressed' off='normal' size='small'}}<br/>
                Horizontally Squeezed: {{ui-toggle-button value=squeezed on='squeezed' off='normal' size='small'}}<br/>
                Filter: {{ui-toggle-button value=isFiltered on='Only where Badge exists' off='No Filter' defaultValue=false size='small'}}
            </column>
            <column>
                Mood: <br/>
                {{ui-buttons cardinality='1:1' buttons='static,sillyLogic' value=moodStrategy size='small' stretch=true}}<br/>
                {{#if enableStaticChooser}}
                Static Moods:<br/>
                  {{ui-buttons cardinality='1:1' buttons='default,success,info,warning,error' value=mood disable=disableStaticChooser size='small' defaultValue='default'}}
                {{/if}}
             </column>
            <column>
                Skin / Style Family:<br/>
                {{ui-buttons cardinality='1:1' buttons='default,plus,flat,simple' value=style size='small' stretch=true}}<br/>
                Sort By:
                {{ui-toggle-button value=sortAscending toggleEffect='tada' onIcon='chevron-down' offIcon='chevron-up' on='' off=''}}<br/>
                {{ui-buttons cardinality='1:1' buttons='Natural:::null,Badge,Title' selected=sortBy size='small' stretch=true}}<br/>
            </column>
        </columns>
    </config>
</configuration>
{{! ------------------------------------------------------------------------------------------------------------------------- }}
